body{
  background-color: silver;
}
ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: white;
}
ul a{
  text-decoration: none;
  color: white;
}
.titulo{
  margin: auto;
}
.head{
  display: flex;
  flex-direction: column;
  color: white;
  margin: auto;
}